{% extends "index.html" %}

{% block titlecontent %}
<title>Home</title>
{% endblock %}

{% block bodycontent %}
<img class="image" src="{{ welcome_animation_path }}" alt="Welcome Animation">
<h1>Let me greet you.</h1>
<div class="form-container">
    <form class="form" name="greetForm" action="{{ url_for('greet') }}" method="post" onsubmit="return validateForm()">
        <input type="text" id="name" name="name" placeholder="Name" required><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
<p>This portfolio website shows my skills and works</p>
{% endblock %}