<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titlecontent %}
    <title>My Website</title>
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icon/favicon.ico') }}">
    <link id="theme-stylesheet" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme1.css') }}">
</head>
<body>
    <header>
        <nav id="main-nav">
            <ul class="nav-container">
                <li class="nav-item"><a href="/home">Home</a></li>
                <li class="nav-item"><a href="/projects">Projects</a></li>
                <li class="nav-item"><a href="/skills">Skills</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
                <li class="nav-item"><a href="/contact">Contact</a></li>
                <li class="nav-item"><a href="/game">Game</a></li>
                <li class="nav-item">
                    <select id="theme-picker">
                        <option value="theme1">Theme 1</option>
                        <option value="theme2">Theme 2</option>
                        <option value="theme3">Theme 3</option>
                        <option value="theme4">Theme 4</option>
                        <option value="theme5">Theme 5</option>
                    </select>
                </li>
            </ul>
        </nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
    </header>
    {% block bodycontent %}
    <!-- Page-specific content goes here -->
    {% endblock %}
    <div class="footer-container">
        <footer>&copy; Tamas Regeczy 2023 <a href="mailto:tomregeczy@gmail.com">Send Email</a></footer>
    </div>
    {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>
</html>