{% extends "index.html" %}

{% block titlecontent %}
<title>Projects</title>
{% endblock %}

{% block bodycontent %}
<h1>My Works</h1>
<div class="grid-container">
    <div class="art1">
        <article>
            <h1><img src="{{url_for('static', filename='images/logobuhurt.png')}}"/></h1>
            <p><a class="link" href="https://tomireg.github.io/WDA/">Website about the sport Buhurt</a></p>
        </article>
    </div>
    <div class="art2">
        <article>
            <h1><img src="{{url_for('static', filename='images/logoma.png')}}"/></h1>
            <p><a class="link" href="https://tomireg.github.io/JSA/">Website about Martial Arts</a></p>
        </article>
    </div>
</div>
{% endblock %}