nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav li {
    display: inline-block;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.nav-item {
    background-color: steelblue;
    color: black;
    border: 1px solid black;
    padding: .5em 1em;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.nav-container {
    background-color: slategrey;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}


.body {
    background-color: white;
    color: black;
    justify-content: center;
}

.footer-container {
    padding: 10;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: steelblue;
    color: black;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 800px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        font-size: 1rem;
    }
}

.power-container {
    background-color: #2E424D;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.power-container #power-point {
    background-color: #D73F40;
    width: 1%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
}

.error {
    color: red;
}

.form {
    width: 100%;
    height: auto;
    justify-self: center;
    text-align: left;
}

input[type=text] {
    width: 100%;
}

input[type=email] {
    width: 100%;
}

input[type=password] {
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: slategrey;
    color: black;
}

label {
    display: inline-block;
    color: black
}