body {
    height: 100vh;
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

#main-nav {
    background-color: #004680;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.nav-container {
    list-style-type: none;
}

.nav-item {
    background-color: slategrey;
    padding: 10px;
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.link {
    font-size: 2em;
    background-color: #004680;
    color: slategrey;
    text-decoration: none;
    padding: 10px 10px;
    border: 5px solid black;
}
.nav-item select {
    padding: 10px;
    border: 5px solid black;
}

ul {
    font-size: 2em;
    list-style-type: none;
    text-align: center;
    color: slategrey;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    max-width: 250px;
}

.footer-container {
    text-align: center;
    padding: 10px;
    background-color: #004680;
    color: white;
}

h1 {
    font-size: 4em;
    color: #004680;
    text-align: center;
}

p {
    font-size: 2em;
    color: slategrey;
    text-align: center;
}

@media (max-width: 800px) {
    #main-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item a {
        font-size: 0.5em;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
    }

    h1 {
        font-size: 2em;
        color: #004680;
        text-align: center;
    }
    
    p {
        font-size: 1em;
        color: slategrey;
        text-align: center;
    }

    ul {
        font-size: 1em;
        list-style-type: none;
        text-align: center;
        color: slategrey;
    }
}    