body {
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#main-nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #004680;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.nav-container {
    list-style-type: none;
}

.nav-item {
    display: inline-block;
    background-color: slategrey;
    padding: 10px;
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #004680;
    color: slategrey;
    text-decoration: none;
    padding: 10px 10px;
    border: 5px solid black;
}

.nav-item select {
    padding: 10px;
    border: 5px
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    list-style-type: none;
    text-align: center;
    color: slategrey;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    max-width: 250px;
}

.footer-container {
    text-align: center;
    padding: 10px;
    background-color: #004680;
    color: white;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    color: #004680;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: slategrey;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #004680;
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.table {
    background-color: cadetblue;
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}

.table th,
.table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.form-container {
    text-align: center;
}

.form {
    text-align: center;
}

.form input[type="text"], 
.form input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    border: 1px solid cadetblue;
    border-radius: 4px;
}

@media (max-width: 800px) {
    #main-nav {
        font-family: Georgia, 'Times New Roman', Times, serif;
        flex-direction: column;
        align-items: center;
    }

    .nav-item a {
        font-size: 0.5em;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2em;
        color: #004680;
        text-align: center;
    }

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        color: slategrey;
        text-align: center;
    }

    ul {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        list-style-type: none;
        text-align: center;
        color: slategrey;
    }
}