.grid-container {
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". art1 art2 .";

}

.art1 {
    grid-area: art1;
}

.art2 {
    grid-area: art2;
}

body {
    height: 100vh;
    background-color: #1a1a1a;
    margin: 0;
}

.nav-container {
    list-style-type: none;
}

#main-nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-item a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
}

.nav-item select {
    padding: 10px;
    border-radius: 5px;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
}

.footer-container {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #e0e0e0;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    list-style-type: none;
    text-align: center;
    color: slategrey;
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: slategrey;
    text-decoration: none;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4em;
    color: #e0e0e0;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: slategrey;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #e0e0e0;
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    #main-nav {
        font-family: Georgia, 'Times New Roman', Times, serif;
        flex-direction: column;
        align-items: center;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 2em;
        color: #e0e0e0;
        text-align: center;
    }

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #e0e0e0;
        font-size: 1em;
        color: slategrey;
        text-align: center;
    }

    ul {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        list-style-type: none;
        text-align: center;
        color: slategrey;
    }
}